* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 16px;
    background-color: whitesmoke;
    border: 1px solid white;
}

header nav>a {
    margin-right: 16px;
    text-decoration: none;
    padding: 8px;
}
header nav>a:last-child {
    margin-right: revert;
}

header nav>a:hover {
    background-color: #8080807a;
    border-radius: 6px;
}

header nav>a:visited {
    color: royalblue;
}

.container {
    padding: 16px;
}

.container>section>h2 {
    text-align: center;
}

.intro {
    margin: -16px;
    padding: 16px;
    background-color: #1a1918;
    color: white;
    text-align: center;
}

#profile-image {
    border-radius: 18px;
    height: 300px;
    width: 300px;
}

.social-links img {
    height: 50px;
    width: 50px;
}

.social-links a {
    text-decoration: none;
    margin: auto 16px;
}

table {
    width: 100%;
}

table,
tr,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 3px;
}

td {
    text-align: center;
}

p {
    font-size: 1.5rem;
}

.dynamic-text-color {
    color: royalblue;
}

#contact {
    max-width: 400px;
    margin: auto;
    border: 1px solid black;
    padding: 16px;
    border-radius: 16px;
}

#contact label {
    display: block;
    font-weight: 500;
}

#contact input,
#contact textarea,
#contact button {
    width: 100%;
    font-size: 1.2rem;
    padding: 8px;
}

#contact-me {
    margin-top: 16px;
}

footer {
    margin-top: 13px;
    padding: 16px;
    text-align: center;
    border-top: 4px solid;
}
