* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 16px;
    background-color: whitesmoke;
    border: 1px solid white;
}

header nav a {
    margin-right: 16px;
    padding: 8px;
}
.menu nav a {
    padding: 8px;
}
nav a {
    text-decoration: none;
}
header nav>a:last-child {
    margin-right: revert;
}

nav a:hover {
    background-color: #8080807a;
    border-radius: 6px;
}

nav a:visited {
    color: royalblue;
}

.container {
    padding: 16px;
}

.container>section>h2 {
    text-align: center;
}

.intro {
    margin: -16px;
    padding: 16px;
    background-color: #1a1918;
    color: white;
    text-align: center;
}

#profile-image {
    border-radius: 18px;
    height: 300px;
    width: 300px;
}

.social-links img {
    height: 50px;
    width: 50px;
}

.social-links a {
    text-decoration: none;
    margin: auto 16px;
}

table {
    width: 100%;
}

table,
tr,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 3px;
}

td {
    text-align: center;
}

p {
    font-size: 1.5rem;
}

.dynamic-text-color {
    color: royalblue;
}

#contact {
    max-width: 400px;
    margin: auto;
    border: 1px solid black;
    padding: 16px;
    border-radius: 16px;
}

#contact label {
    display: block;
    font-weight: 500;
}

#contact input,
#contact textarea,
#contact button {
    width: 100%;
    font-size: 1.2rem;
    padding: 8px;
}

#contact-me {
    margin-top: 16px;
}

footer {
    margin-top: 13px;
    padding: 16px;
    text-align: center;
    border-top: 4px solid;
}



/* Media Querry */

.mobile-nav, section.menu{
    display: none;
}

@media (width < 500px) {
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: revert;
    }
    #menu-button {
        display: block;
        background-color: transparent;
        border-radius: 8px;
        margin-left: auto;
    }
    section.menu {
        display: revert;
        height: 0;
        overflow: hidden;
        position:fixed;
        top: 0;
        z-index: 1;
        background-color: white;
        width: 100%;
        transition: height 0.8s ;
    }
    section.menu ul {
        list-style: none;
    }
    section.menu ul>li {
        margin-bottom: 16px;
    }
    section.menu nav {
        margin-top: 48px;
        font-size: 1.5rem;
    }
    #close-menu {
        position: absolute;
        right: 16px;
        top: 16px;
        background-color: transparent;
        font-size: x-large;
        border: none;
    }
}
@media (width <= 400px) {
    #profile-image {
        width: 100%;
    }
}
